.container {
    height: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container:before {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #333;
}


/* =============text-overflow=============== */

.text-overflow {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* ===============float============== */

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.clearfix {
    clear: both;
}


/* ===============float============== */

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}


/* ================font=================== */


/* font-size */

body,
html {
    font-size: 16px;
    color: #333;
    background: #ebebeb;
}

.fs12 {
    font-size: 0.75rem;
}

.fs13 {
    font-size: 0.81rem;
}

.fs14 {
    font-size: 0.875rem;
}

.fs15 {
    font-size: 0.94rem;
}


/* font-color */

.fc-333 {
    color: #333;
}

.fc-aaa {
    color: #aaa;
}

.fc-blue {
    color: #0085d5;
}

.fc-fff {
    color: #fff;
}

.fc-666 {
    color: #666;
}

.fc-777 {
    color: #777;
}


/* ================background=================== */

.bg-primary {
    background: #fff;
}

.bg-gb {
    background: #ecedef;
}

.bg-lb {
    background: #f0f4f6;
}


/* ================divider=================== */

.divider-primary {
    height: 1px;
    width: 100%;
    background: #d9d9d9;
}

.divider {
    height: 1px;
    width: 100%;
    background: #eaeaea;
}


/* ================margin=================== */